 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1179px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 774px;
  font-weight: 700;
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1020px;
  grid-gap: 16px 16px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px 7px;
}

.u-section-1 .u-icon-10 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -44px 69px 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1857px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1708px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -132px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -180px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2088px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2238px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2379px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }
}