 .u-section-1 {
  background-image: url("images/weee.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-1 .u-group-1 {
  width: 457px;
  min-height: 183px;
  background-image: none;
  margin: 100px 330px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 2.475;
  font-size: 2.25rem;
  margin: 24px -96px 0 116px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: -11px auto 0 94px;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 344px;
  background-image: url("images/soap-bubble-63982_1920.jpg");
  background-position: 50% 50%;
  margin: 92px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 204px;
  height: 186px;
  margin: -377px 317px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 159px;
  height: 159px;
  background-image: none;
  margin: 53px auto 0 338px;
}

.u-section-1 .u-group-2 {
  width: 856px;
  min-height: 280px;
  background-image: none;
  margin: 37px 100px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  margin: 16px 240px 0 192px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 6px 0 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px auto 0 263px;
}

.u-section-1 .u-shape-3 {
  width: 101px;
  height: 101px;
  animation-timing-function: ease-in;
  margin: 45px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 120px;
    margin-right: 225px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -392px;
    margin-right: 216px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 81px;
    margin-left: 249px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 80px;
    margin-right: 116px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 112px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -386px;
    margin-right: 136px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 80px;
    margin-left: 129px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    min-height: 302px;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 144px;
    margin-right: 192px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -16px;
    margin-left: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 67px;
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -393px;
    margin-right: 37px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 78px;
    margin-left: 63px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    min-height: 326px;
    margin-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 74px;
    margin-right: 122px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    line-height: 66px;
    width: auto;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 56px;
  }

  .u-section-1 .u-image-1 {
    width: 221px;
    height: 221px;
    margin-top: 60px;
  }

  .u-section-1 .u-shape-1 {
    width: 110px;
    height: 110px;
    margin-top: -253px;
    margin-right: 49px;
  }

  .u-section-1 .u-shape-2 {
    width: 103px;
    height: 103px;
    margin-top: 46px;
    margin-left: 49px;
  }

  .u-section-1 .u-group-2 {
    min-height: 399px;
    width: 340px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 157px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 69px;
  }

  .u-section-1 .u-shape-3 {
    width: 85px;
    height: 81px;
    margin-top: 11px;
    margin-bottom: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2290px;
}

.u-section-2 .u-image-1 {
  width: 437px;
  height: 474px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 703px;
  height: 474px;
  margin: -474px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 713px;
  height: 408px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 427px;
  height: 408px;
  margin: -408px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 46px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-5 {
  height: 420px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-image-6 {
  width: 552px;
  height: 474px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-7 {
  width: 588px;
  height: 474px;
  margin: -474px 0 5px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2336px;
  }

  .u-section-2 .u-image-1 {
    width: 488px;
    margin-top: 42px;
  }

  .u-section-2 .u-image-2 {
    width: 452px;
  }

  .u-section-2 .u-image-3 {
    width: 488px;
    height: 456px;
  }

  .u-section-2 .u-image-4 {
    width: 452px;
    height: 456px;
    margin-top: -456px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 840px;
    margin-top: 88px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 97px;
    margin-left: -100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 10px 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 90px;
    margin-left: -230px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 102px;
  }

  .u-section-2 .u-image-6 {
    width: 470px;
  }

  .u-section-2 .u-image-7 {
    width: 470px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2289px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    margin-top: 10px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
  }

  .u-section-2 .u-image-3 {
    width: 410px;
    height: 455px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-4 {
    width: 360px;
    height: 455px;
    margin-top: -455px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 671px;
    margin-top: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -160px;
    margin-right: 71px;
    margin-left: -47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 313px;
    margin-left: -503px;
  }

  .u-section-2 .u-image-5 {
    width: 770px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-image-6 {
    width: 358px;
    height: 336px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-7 {
    width: 412px;
    height: 336px;
    margin-top: -336px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1706px;
  }

  .u-section-2 .u-image-1 {
    width: 321px;
    height: 348px;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    height: 357px;
    margin-top: -357px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 337px;
  }

  .u-section-2 .u-image-4 {
    width: 270px;
    height: 337px;
    margin-top: -337px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 240px;
    margin-top: -272px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-2 .u-text-1 {
    margin: 297px 180px -188px -352px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-2 .u-text-2 {
    margin: 222px 20px -221px -338px;
  }

  .u-section-2 .u-image-5 {
    height: 280px;
    width: 590px;
    margin-top: 252px;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
    height: 241px;
  }

  .u-section-2 .u-image-7 {
    width: 270px;
    height: 241px;
    margin-top: -241px;
    margin-bottom: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2126px;
  }

  .u-section-2 .u-image-1 {
    height: 227px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 223px;
    margin-top: 1652px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 248px;
    margin-top: -1669px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 242px;
    margin-top: 446px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -996px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    font-weight: 600;
    width: 270px;
    margin: 322px auto -208px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-2 .u-text-2 {
    margin: 169px 1px 0;
  }

  .u-section-2 .u-image-5 {
    height: 240px;
    margin-top: 430px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 232px;
    margin-top: -1652px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 270px;
    margin-top: 910px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}