*{
 overflow-x: hidden;
 overflow-y: scroll;
}

.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/butterfly-3309504.jpg");
  background-position: 50% 50%;
}


.u-section-1 .u-sheet-1 {
  min-height: 234px;
}

.u-section-1 .u-group-1 {
  width: 356px;
  min-height: 187px;
  background-image: none;
  height: auto;
  margin: 27px auto 20px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 14px 91px 0 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-group-1 {
    width: 383px;
    min-height: 133px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: -33px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 101px;
    margin-left: 74px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 453px;
  margin: 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}
