@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Ubuntu:wght@400&display=swap');


  *{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu',sans-serif;
    box-sizing: border-box;
  }

  body{
    overflow-y: scroll;
    overflow-x: hidden;
}

  body{
    background-image:linear-gradient(to right,#7f7fd5,#91eae4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
  }

  ::selection{
    color: #fff;
    background: #0439e9ea;
  }

  .info_box,
  .quiz_box,
  .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19)
  }

  .info_box.activeInfo,
  .quiz_box.activeQuiz,
  .result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
  }

  .info_box{
    width: 80%;
    height: 60%;
    background-image: linear-gradient(to right, #fce799 ,#f69d9d);
    border-radius: 0.3125rem;
    transform: translate(50%,-50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .info_box .info_title{
    height: 3.75rem;
    width: 100%;
    border-bottom: 0.0625rem solid rgb(5, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.875rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .info_box ,.info_title{
    padding: 0.9375rem 1.875rem;
  }

  .info_box .info_list {
    margin: 0.3125rem 0;
    font-size: 1.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li span{
    font-weight: 600;
    color: rgb(245, 54, 54);
  }

  .info_box .buttons{
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.875rem;
    border-top: 0.0625rem solid rgb(6, 6, 6);
  }

  .info_box .buttons button{
    margin: 0 0.3125rem;
    height: 2.5rem;
    width: 6.25rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #78eb91;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #116d29ea;
    transition: all 0.3s ease;
  }

  .quiz_box{
    width: 90%;
    height: 90%;
    padding: 0.93750rem;
    background: #fff;
    border-radius: 0.625rem;
    transform: translate(-50%,-50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .quiz_box header{
    position: relative;
    z-index: 2;
    height: 4.375rem;
    font-size: 1.25rem;
    font-family: Verdana, Geneva,  sans-serif;
    border-radius: 0.9375rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: 0 1.875rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.1875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.1);
  }

  .quiz_box header .timer{
    color:#ffffff;
    background: #a8c2f6;
    border: 0.0625rem solid #6928da;
    height: 2.8125rem;
    padding: 0.5rem 0.5rem;

    

    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10.625rem;

  }

  .quiz_box header .timer .time_left_txt{
    font-weight: 400;
    margin-right: 3%;
    font-size: 1.0625rem;
    user-select: none;

  }

  .quiz_box header .timer .timer_sec{
    font-size: 1.125rem;
    font-weight: 500;
    height: 1.875rem;
    width: 2.8125rem;
    color: #fff;
    border-radius: 0.5rem;
    line-height: 1.875rem;
    text-align: center;
    background: #a6e68d;
    border: 0.0625rem solid #42a31c;
    user-select: none;
  }

  /*/.quiz_box header .time_line{
    position:absolute;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    bottom: 0rem;
    left: 0rem;
    height: 0.1875rem;
    background: #e90404ea;
  } /*/

  section{
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 0.9375rem;
  }

  section .option_list{
    padding: 1.25rem 0rem;
    display: block;
  }

  section .option_list .option{
    background: aliceblue;
    border: 0.0625rem solid #2647ec;
    border-radius: 0.3125rem;
    padding: 0.5rem 0.9375rem;
    font-size: 1.0625rem;
    margin-bottom: 0.9375rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section .option_list .option:last-child{
    margin-bottom: 0rem;
  }

  section .option_list .option:hover{
    color: #004085;
    background: #ccd0ff;
    border: 0.0625rem solid #266bb5;
  }

  section .option_list .option.correct{
    color:rgb(26, 151, 26);
    background: #d4edda;
    border: 0.0625rem solid #c3e6cb;
  }

  section .option_list .option.incorrect{
    color:rgb(235, 20, 20);
    background: #f7cacd;
    border: 0.0625rem solid #f6c6cb
  }

  section .option_list .option.disabled{
    pointer-events: none;
  }
  section .option_list .option .icon{
    height: 1.625rem;
    width: 1.625rem;
    border: 0.125rem solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8125rem;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 1.5rem;
  }

  .option_list .option .icon.tick{
    color: green;
    border-color: rgb(17, 125, 80);
    background: rgb(46, 237, 46);
  }

  .option_list .option .icon.cross{
    color: darkred;
    background: red;
    border-color: rgb(160, 11, 11);
  }

  footer{
    height: 3.75rem;
    padding: 0 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.0625rem solid lightgray;
  }

  footer .total_que span{
    display: flex;
    user-select: none;
  }

  footer .total_que span p{
    font-weight: 500;

    padding: 0 0.3125rem;
  }

  footer .total_que span p:first-child{
    padding-left: 0rem;
  }

  footer button{
    height: 2.5rem;
    padding: 0 0.8125rem;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 0.3125rem;
    background: #a8c2f6;
    border: 0.09375rem solid #6928da;
    line-height: 0.625rem;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
  }

  footer button:hover{
    background: #6928da;
  }

  footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

  .result_box{
    background-image: linear-gradient(to left,#cd9cf2,#f6f3ff);
    background-size: cover;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    padding: 1.5625rem 1.875rem;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translate(-50%,-50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    
  }

  .result_box .icon{
    font-size: 6.25rem;
    color: #0439e9ea;
    margin-bottom: 0.625rem;
  }

  .result_box .complete_text{
    font-size: 1.25rem;
    font-weight: 500;
  }

  .result_box .score_text span{
    display: flex;
    margin: 0.625rem 0;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .result_box .score_text span p{
    padding: 0 0.25rem;
    font-weight: 600;
  }

  .result_box .buttons{
    display: flex;
    margin: 0.625rem 0;
  }

  .result_box .buttons button{
    margin: 0 0.625rem;
    height: 2.8125rem;
    padding: 0 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #1b660dea;
    transition:all 0.3s ease;
  }

  .buttons button.restart{
    color: #ffffff;
    background: #21df4a;
  }

  .buttons button.restart:hover{
    background: #14862d;
  }

  .buttons button.quit{
    color:#ffffffea;
    border-color: #950a0cea;
    background-color: #fc2427ea;
  }

  .buttons button.quit:hover{
    color: #fff;
    background: #950a0cea;
  }


  ul{
    padding: 0.9375rem;
  }


@media(max-width:998px){
  html {
    font-size: 65%
  }
}

@media(max-width:768px){
  html {
    font-size: 55%
  }
}
